extends layout

block content
  h1= title
  - var Ant= results;
  div(class="container-fluid")
  div(class="row")
   each f,index in Ant
    div(class="col-sm-2" onclick =`buy(${index})`) #{f.antName}, #{f.age}, #{f.color}

     script. 
       function buy(index)
       {
        alert(`you purchased Item: ${index+1}`)
       }