
extends layout

block content
  h1= title

  - let antid = toShow._id
  - let antName = toShow.antName
  - let age = toShow.age
  - let color = toShow.color

  div
    div.row
      div(class='antAttr mr-3') ant ID is:
      div #{antid}

    div.row
      div(class='antAttr mr-3') ant Name is:
      div #{antName}

    div.row
      div(class='antAttr mr-3') ant age is:
      div #{age}

    div.row
      div(class='antAttr mr-3') ant color is:
      div #{color}
